/**
 * Homepage style
 *
 * ---
 * [_LAY_] Layout
 */

[data-cpt="Home"]
  display flex
  flex-direction column
  justify-content space-between


  .header .background,
  .slideshows
    fixed 0 0 h-footer w-menu
    .-device-mobile &
      left 0

  .background
    background-size cover
    background-position center 30%


  .main-section
    position relative
    height 100vh
    .bullets
      display none
    .header
      color c-white
      text-shadow:  -1px -1px 0 c-grey,
                    1px -1px 0 c-grey,
                    -1px 1px 0 c-grey,
                    1px 1px 0 c-grey;


  .second-section
    // overflow hidden
    position relative
    display flex
    height 70vh
    .header
      width 40%
      min-width 300px
    .slideshow
      height 100%
    &:nth-child(odd)
      .header
        order 1

    .-device-tablet &
    .-device-mobile &
      height auto
      flex-direction column
      .header
        min-width 100%
        display block
        order 0 !important
        width 100%
        padding safe-padding
      .slideshow
        height 300px





  .header
    position relative
    z-index 2
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100%
    text-align center
    color c-black
    font-size fz-big
    line-height lh-text
    h1, h2
      width 100%
      padding 0 safe-padding
      display block
    h1
      font-size fz-title
      line-height lh-text

    .-device-mobile &
      font-size fz-highlight
      h1
        font-size fz-big
        line-height lh-text

  .actions
    absolute null 0 0 0
    height 100px
    text-align center
    display flex
    justify-content space-around
    align-item center
    z-index 2

    button
      width 40%
      max-width 400px
      height 80px


button
  background none
  border none
  color c-grey
  text-transform uppercase
  letter-spacing 0
  line-height lh-text
  cursor pointer
  position relative
  transition all .3s cubic-bezier(0.75, 0, 0.125, 1)
	-webkit-backface-visibility hidden
	-moz-osx-font-smoothing grayscale

button
  &:before,
  &:after
    absolute 0 null null 0
    size 100%
    content ''
    z-index -1
    pointer-events none
    transition transform .3s, opacity 0.3s
    transition-timing-function cubic-bezier(0.75, 0, 0.125, 1)
    transform scale3d(1.1, 1.1, 1)
    -webkit-backface-visibility hidden

  &:before
    opacity 0
    z-index -1
    border 2px solid c-white

  &:after
    background-color c-white

  .no-touch &:hover
    color white
    letter-spacing .2em
    &:before
      opacity 1
      transform scale3d(1, 1, 1)
    &:after
      opacity 0
      transform scale3d(0.8, 0.8, 1)

