{#
  Home page

  @author: nico <hello@nusson.ninja>

#}
{% extends "components/Page/template.twig" %}

{% block header %}
  <header class="header">
    header slideshow
  </header>
{% endblock header%}

{% block page_content %}
  <div class="content">
    <p>content home</p>
    {{ post.content }}
  </header>
{% endblock page_content %}
