[data-cpt="Footer"]
  background-color c-white

  display flex
  align-items center
  flex-direction: column
  justify-content space-around
  >*
    padding: safe-padding

  .credits
    width 100%
    max-width w-max
    border-top 1px solid c-black
    flex-grow 1
    display flex
    justify-content space-around
    img
      max-height h-footer - 20

  .address
    // margin-right 20px
    position relative
    display inline-block
    font-weight bold
    font-size 1.4rem
    line-height lh-text
    display flex
    justify-content: space-between
    align-items: flex-end
    line-height: 1.5
    >*
      margin: 0 20px
    a
      display block
      color c-black
      text-decoration none
      .no-touch &
        transition color t-speed-light t-ease-out
        &:hover
          color lighten(c-black, 20%)
          transition-timing-function t-ease-in

      &.facebook
        font-size 30px
        line-height: 0

  .-device-mobile &,
  .-device-tablet &
    display block
    padding-top 20px
    .credits
      border none

  @media screen and (max-width: 500px)
    .address
      flex-direction: column
      align-items: flex-start
      >*
        margin: 0
    .credits
      justify-content space-between
      flex-wrap wrap

