.DS_Store
.phpintel

themes/*
!themes/ovent
themes/ovent/.phpintel
themes/ovent/node_modules
themes/ovent/public
themes/ovent/vendor
themes/ovent/doc

uploads/2016/**/*-150*.*
uploads/2016/**/*-300x*.*
uploads/2016/**/*-640x*.*
uploads/2016/**/*-768x*.*
uploads/2016/**/*-1024x*.*
uploads/2016/**/*-1440x*.*
uploads/2016/**/*-1920x*.*
