/**
 *  Typography
 *
 *  @author: nico <hello@nusson.ninja>
*/
@font-face
	font-family "OratorStd"
	font-weight normal
	src: url('../../../assets/fonts/orator/orator-std-webfont.eot') /* IE9 Compat Modes */
	src: url('../../../assets/fonts/orator/orator-std-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../assets/fonts/orator/orator-std-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../../assets/fonts/orator/orator-std-webfont.svg#OratorStd') format('svg') /* Legacy iOS */
    // url('../../assets/fonts/orator/orator-std-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    // url('../../assets/fonts/orator/orator-std-webfont.woff') format('woff'), /* Pretty Modern Browsers */


@font-face {
  font-family: 'FontAwesome';
  src: url('../../../assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../../assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../../../assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../../../assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    // url('../../../assets/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    // url('../../../assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  font-weight: normal;
  font-style: normal;
}
