/**
 *  Some vars, and mixins
 *
 *  @author: nusson <hello@nusson.ninja>
 *  --
 *  [_GEN_] - Generic
 *  [_PAT_] - paths
 *  [_COL_] - Colors
 *  [_FON_] - Font sizes
 *  [_TRA_] - Transitions
 *  [_SIZ_] - sizes
 *  [_ZIN_] - z-index
*/
// /* [_GEN_] - Generic */

// /* [_PAT_] - paths */
path-theme  = '/wp-content/themes/ovent/'
path-assets = path-theme+'assets/'

/* [_COL_] - Colors */
c-black         = #333333
c-grey          = #999999
c-white         = #FFFFFF
c-background    = #e5e5e5

/* [_FON_] - Fonts */
fz-base             = 10px
fz-small            = 1.2rem
fz-default          = 1.4rem
fz-medium           = 1.6rem
fz-highlight        = 1.8rem
fz-big              = 3.4rem
fz-title            = 4.8rem

lh-default  = 1.2em
lh-text     = 1.4em

ff-default = 'OratorStd', Helvetica, Arial, sans-serif


// /* [_RES_] - Responsive */
// $vp_desktop-medium:   1280px;
// $vp_desktop:          1024px;
// $vp_bootstrap:        992px;
// $vp_tablet:           700px;

// /* [_TRA_] - Transitions */
t-speed-light       = .4s
t-speed-medium      = .8s
t-ease-in           = easing('out-expo')
t-ease-out          = easing('in-out-quad')
t-ease-outside      = easing('in-quad')
// $t_push-delay: 1.2;
// $t_fade-delay: 0.4;
// $t_push-translate-factor: .4; // >1 quicker translation that new item
// $t_x-screen-width: 100vw; // to compute translations speed

// /* [_SIZ_] - sizes */
safe-padding  = 20px;
w-menu        = 240px
h-footer      = 140px

/* [_ZIN_] - z-index */
z-header  = 100
z-footer  = 200
// z-popin   =    1000
// z-flash   =    100
// z-sticky  =    200
