/**
 *  Some vars, and mixins
 *
 *  @author: nusson <hello@nusson.ninja>
 *  --
 *  [_GEN_] - Generic
 *  [_PAT_] - paths
 *  [_COL_] - Colors
 *  [_FON_] - Font sizes
 *  [_TRA_] - Transitions
 *  [_SIZ_] - sizes
 *  [_ZIN_] - z-index
*/

/* [_GEN_] - Generic */

/* [_PAT_] - paths */

/* [_COL_] - Colors */
$c_white:             #FFFFFF;

/* [_FON_] - Fonts */

/* [_RES_] - Responsive */
$vp_desktop-medium:   1280px;
$vp_desktop:          1024px;
$vp_bootstrap:        992px;
$vp_tablet:           700px;

/* [_TRA_] - Transitions */
$t_push-delay: 1.2;
$t_fade-delay: 0.4;
$t_push-translate-factor: .4; // >1 quicker translation that new item
$t_x-screen-width: 100vw; // to compute translations speed

/* [_SIZ_] - sizes */
$h_header:      40px;

/* [_ZIN_] - z-index */
$z_popin:       1000;
$z_flash:       100;
$z_sticky:      200;
$z_header:      150;
