/**
 * Slideshow style
 *
 * ---
 * [_LAY_] Layout
 */
[data-cpt="Slideshow"]
  position relative
  z-index 1
  size 100%

  .slides
    position relative
    overflow hidden
    size 100%
    // display flex

  .slide
    absolute 0
    z-index 1
    // flex-grow 1
    // flex-shrink 1

  .nav
    position absolute
    z-index 1000
    top 50%

    &.previous
      left safe-padding
    &.next
      right safe-padding
    &.bullets
      top 100%
      left 50%
      transform translate(-50%, -150%)
      height 40px
      .bullet
        margin 10px


  &.-loading
    .slide:first-child
      z-index 2
    .nav
      display none





  // .slides
  //   min-height 50vh
