/**
 * Pages style
 *
 * ---
 * [_HEA_] Header
 * [_CON_] Content
 * [_WYS_] wysiwig
 * [_SHO_] Page shops
 * [_BIO_] Page biography
 */

[data-cpt="Page"]

  /* [_HEA_] Header */
  h-header = 50vh
  >.header.-illustrated
    min-height h-header
    position relative
    .background
      fixed 0 0 null w-menu
      height h-header
      background-position center 30%
      background-size cover
      background-repeat no-repeat
      .-device-mobile &
        left 0
    .content
      position absolute
      bottom 30px
      left 30px
      font-size fz-title
      font-weight bold
      color c-white
      z-index 2
      text-shadow:  -1px -1px 0 c-grey,
                    1px -1px 0 c-grey,
                    -1px 1px 0 c-grey,
                    1px 1px 0 c-grey;

  /* [_CON_] Content */
  >.content
    position relative
    line-height lh-text
    z-index 2
    background-color c-background


  /* [_WYS_] wysiwig (align images) */
	p img
		max-width 100%
		width auto
		height auto
		margin-bottom 20px
		&.aligncenter
			left 50%
			transform translateX(-50%)
			position relative

		&.alignleft,
		&.alignright
			padding 1em
			margin 0

		&.alignleft
			float left
			padding-left 0

		&.alignright
			float right
			padding-right 0

/* [_BIO_] Page biography */
.-slug-biographie
  >.content
    padding-top 2em

/* [_SHO_] Page shops */
.-slug-points-de-vente
  >.header
    display none
  >.content
    height 100%
