{#
  basic page
  + header
  + content

  @author: nico <hello@nusson.ninja>

#}
{% extends "components/Interface/template.twig" %}

{% block content %}
  <article data-cpt="Page" class="page">

    {% block header %}
      <header class="header">
        <div class="content">
          <h1 class="title">{{post.title}}</h1>
        </div>
      </header>
    {% endblock header %}

    {% block page_content %}
      <div class="content article">
        {{ post.content }}
      </header>
    {% endblock page_content %}

  </article>
{% endblock %}
