.img-wrapper
  img
    display block
  &._cover
    img
      // absolute 0
      size 100%
      object-fit cover

._full
  absolute 0

._center
  absolute 50% 50% null null
  transform translate(-50%, -50%)
