[data-cpt="Header"]
  position relative

  .pannel
    position relative
    width w-menu
    height 100%
    background-color c-white
    >.content
      relative 50% false false 50%
      padding-bottom h-footer
      transform translate(-50%, -50%)
      text-align center

    &[aria-hidden="true"]
      transform translateX(-100%)

  .menu
    margin-top 2em
    padding-top 2vh

    .item
      text-transform uppercase
      margin-bottom 2vh
      padding-bottom 2em
      .link
        padding 1em 0

    .link
      color black
      text-decoration none
      font-size fz-medium
      font-weight bold
      letter-spacing 0
      .no-touch &
        transition letter-spacing t-speed-light t-ease-out
      .no-touch &:hover
        letter-spacing .2em
        transition-timing-function t-ease-in
      &.current-menu-item
        letter-spacing .2em
        font-size fz-highlight

  .menu-button
    display none

  &.-sidenav
    .pannel
      position relative
      transform translateX(0%)
      transition transform t-speed-medium t-ease-in
      will-change transform
      &[aria-hidden="true"]
        transform translateX(-100%)
        transition-timing-function t-ease-outside

    .menu-button
      display block
