// @import "koutoSwiss"
// @import "jeet"

// @import '../../../node_modules/jeet'
[data-cpt="Interface"]
  height 100%

  > .header
    fixed 0 false 0 0
    z-index z-header

  >.main
    position relative
    width calc('100% - 240px')
    min-height calc('100% - '+h-footer)
    margin-left w-menu
    display flex
    >.page
      flex 1 1 100%
    // padding safe-padding

  > .footer
    position relative
    height h-footer
    z-index z-footer
