/**
 * Shops
 * @author nico <hello@nusson.ninja>
 */

[data-cpt="Shops"]

  .-card
    .title
      font-size fz-highlight
      font-weight bold

    .email
    .web
    .direction
      display none
