/**
 * Shops
 * @author nico <hello@nusson.ninja>
 */

md-big = 1000px
md-med = 600px
h-header = 400px

[data-cpt="Shops"]


  /* [_LAY_] Layout*/
  box-sizing border-box
  height 100%
  .map
    position fixed !important
    top 0
    right 0
    height 100vh
  .list
    position relative
    z-index 2
    display flex
    flex-direction column
    justify-content center
    height 100%

  // +above(md-big)
  //   .list
  //     width h-header
  //   .map
  //     width calc( '100% - 240px - h-header' )

  // +below(md-big)
  padding-top h-header
  .map
    order -1
    height h-header
    width calc( '100% - 240px' )
  .list
    justify-content flex-start

  +below(md-med)
    h-header = 300px
    padding-top hh-header
    .map
      height h-header

  /* [_STY_] Style*/
  .list
    background-color c-background
    > .item
      box-sizing border-box
      padding 1em
      .no-touch &
        cursor pointer
        transition background-color t-speed-light t-ease-out
        &:hover
          background-color c-white
          transition background-color t-speed-light t-ease-in

  article.-card
    p
      padding 0

    .title
      font-size fz-highlight
      font-weight bold

    .email
    .web
    .direction
      display none


