/**
 * Shops
 * @author nico <hello@nusson.ninja>
 */

md-big = 1000px
md-med = 600px

[data-cpt="Shops"]

  /* [_LAY_] Layout*/
  box-sizing border-box
  height 100%
  .map
    position fixed !important
    top 0
    right 0
    height 100vh
  .list
    position relative
    z-index 2
    display flex
    flex-direction column
    justify-content center
    height 100%

  +above(md-big)
    .list
      width 400px
    .map
      width calc( '100% - 240px - 400px' )

  +below(md-big)
    padding-top 400px
    .map
      order -1
      height 400px
      width calc( '100% - 240px' )
    .list
      justify-content flex-start

  +below(md-med)
    padding-top 200px
    .map
      height 200px

  /* [_STY_] Style*/
  .list
    background-color c-background
    > .item
      box-sizing border-box
      padding 1em
      .no-touch &
        cursor pointer
        transition background-color t-speed-light t-ease-out
        &:hover
          background-color c-white
          transition background-color t-speed-light t-ease-in

  article.-card
    p
      padding 0

    .title
      font-size fz-highlight
      font-weight bold

    .email
    .web
    .direction
      display none


