/**
 * main style
 * will be injected inline
 *
 * @author nico <hello@nusson.ninja>
 */
// @import 'utils/all';
// @import 'includes/reset';
// @import 'includes/transitions';

import 'jeet'
// meyer-reset()
debug()

html
body
#app
  width 100%
  height 100%
  background red

img
  display block
  max-width 100%
