/**
 * main style
 * will be injected inline
 *
 * @author nico <hello@nusson.ninja>
 */
// @import 'utils/all';
// @import 'includes/reset';
// @import 'includes/transitions';
@require 'includes/typography'
meyer-reset()
// debug()
html
  font-size fz-base
  background-color c-background

html
body
#app
  width 100%
  height 100%
  font-family 'OratorStd'

.article
.img-wrapper
  img
    display block
    max-width 100%
    height auto


body
  font-size fz-default
  line-height lh-default

.article
  p:not(.no-margin)
    padding 0 2em 1em
  a
    color c-grey
    .no-touch &
      transition color t-speed-light t-ease-out
      &:hover
        color c-black
        transition-timing-function t-ease-in
