{#
  Home page

  @author: nico <hello@nusson.ninja>

#}
{% extends "components/Page/template.twig" %}

{% block header %}
  <header class="header">
    <h1 class="title">404</h1>
  </header>
{% endblock header%}
